<a href="https://colab.research.google.com/github/rafaelnduarte/Cerrado_Basquete/blob/master/Cerrado_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cerrado Basquete 2020

<p align="center" >
  <img src="https://raw.githubusercontent.com/rafaelnduarte/Analise_De_Dados_Cerrado_Basquete/master/data/cerrado.png" >
</p>

In [0]:
# importando os pacotes necessários
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/rafaelnduarte/Cerrado_Basquete/master/data/cerrado_roster.csv', index_col=0)
df.head(10)

   rank         jogador                 equipe  jo  ...    as    br    to    er
0    80      Johnny #23       Cerrado Basquete  15  ...  0.47  0.33  0.00  0.87
1    69         Luis #9       Cerrado Basquete  16  ...  1.25  0.44  0.00  2.06
2    33  G. Servelin #3               Londrina  18  ...  1.50  1.50  0.33  1.28
3    21     Ricardo #33               Londrina  18  ...  1.28  0.67  0.11  0.44
4    28    Luizinho #11              UNIFACISA  25  ...  1.68  0.96  0.28  1.08
5   148        Lucas #4                  Minas  29  ...  1.20  0.40  0.00  1.30
6   168      Mendes #30                  Bauru   9  ...  0.10  0.00  0.00  0.40
7     4      Rodrigo #5                America  11  ...  1.27  0.00  0.18  1.30
8   120       Pablo #13               Libertad   8  ...  0.90  0.00  0.00  0.00
9    30        Dida #32  Atlético Puerto Varas   8  ...  1.62  1.00  0.25  1.87

[10 rows x 12 columns]